body {
    font-family: sans-serif;
    background-color: #eee;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
  }
  
  button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  div{
    text-align: center;
  }
  input{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 0px;
  }
  button {
    background-color:rgb(46, 126, 255);
    color: #fff;
    cursor: pointer;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
  }
  @media (max-width: 576px) {
    input {
      width: 60%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    input {
      width: 40%;
    }
  }
  
  @media (min-width: 768px) {
    input {
      width: 30%;
    }
  }
  
  