h1{
    color: rgba(50,20,120,1);
    text-align: right;
    text-decoration-line:underline ;
    text-decoration-color:coral ;
}
h2{
    text-decoration-line:overline ;
    text-decoration-color: aqua;
    text-decoration-style:wavy ;
}
h3{
    color:rgb(198, 147, 71);
    display: block;
    font-size: 20px;
    margin-block-start: 10px;
    text-decoration: underline 4px brown double;
    text-indent: 10px;
    letter-spacing: 5px;
    word-spacing: 6px;
}
.i1{
    font-family: cursive;
    font-style: italic;
    font-size: 40px;
    font-weight: bolder;
}
.i2{
    

}
body{
    background-color: aqua;
    background-image: url("./Task1.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 500px;
    background-attachment: scroll;
}